.header {
  background: #FAFAFB;
  padding: 16px;
  display: flex;
  align-items: center;
  position: relative;
}

.page-title {
  color: #2E3747;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  font-style: normal;
}

.menu-toggle {
  background: transparent;
  border: none;
  color: #2E3747;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 0px;
}

.menu-toggle:hover {
  background: #f3f4f6;
}

.menu-toggle svg {
  width: 20px;
  height: 20px;
}